@import '../../styles/vars';


.wrapper {
  height: 100vh;
  min-height: 100%;
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: $orange;
}

.questionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  margin: 25px auto 0 auto;
  border-radius: 5px;
  background-color: $dark-orange;

  h1 {
    font-size: 1.5em;
    color: $white;
    font-weight: 300;
  }
}

.submissionText {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  height: 200px;
}