@import '../../styles/vars';

.lobby-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  background-color: $blue;

  .access-code {
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 100px;
    margin-top: 40px;
    border-radius: 5px;
    color: $white;
    background-color: $dark-blue;

    h1 {
      margin-top: 25px;
      font-weight: 400;
    }
    hr {
      border-top: 2px solid $white;
      margin: 3px auto;
      width: 100px;
    }
  }

  .lobby-table {
    width: 250px;
    flex: 2;
    max-height: 50%;
    margin: 20px auto;
    color: white;
    text-align: left;
    border: 3px solid $white;
    overflow: scroll;

    .lobby-row {
      padding: 10px;
      vertical-align: top;
      white-space: nowrap;

      &:nth-child(2n-1) {
        background-color: $dark-blue;
      }
    }
  }
}

