/* General button style (reset) */
.btn {
	text-align: center;
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	letter-spacing: 1px;
	font-weight: 700;
	position: relative;
    transition: 0.125s ease-in-out;
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	width: 300px;
	border-radius: 5px;

	&:hover {
		box-shadow: 0 4px #ab3c3c;
		transform: translateY(1px);
    }

	&:active {
		box-shadow: 0 0 #ab3c3c;
		transform: translateY(4px);
	}
}
