/* General button style (reset) */
.custom-btn {
	text-align: center;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 15px 0px;
	display: inline-block;
	margin: 10px 30px;
	letter-spacing: 1px;
	font-weight: 700;
	position: relative;
	transition: 0.125s ease-in-out;
	color: #fff;
	width: 150px;
	border-radius: 50px;

	&:focus {
		outline: 0;
	}
}

.success {
	background: #6BE886;
	box-shadow: 0 6px #158D2F;
}

.disabled {
	background: #CCCCCC;
	color: white;
	cursor: default;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	box-shadow: 0 0px 0 $gray1;
}

.success:hover {
	transform: translateY(1px);
	box-shadow: 0 4px #158D2F;
}

.success:active {
	box-shadow: 0 0 #158D2F;
	transform: translateY(4px);
}

