@import '../../styles/vars';

.voting-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $red;
}

.voting-instructions {
  width: 350px;
  height: 110px;
  background-color: $dark-red;
  color: $white;
  margin: 25px auto 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 9px;
  display: flex;
  align-items: center;
}

.submission-container {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 10px auto;
  color: white;

  & > div {
    padding-bottom: 10px;
  }
}

.quote-container {
  display: flex;
  flex-flow: row;
}

.submission-text {
  display: flex;
  margin-left: 20px;
  font-size: 1.2em;
}

.dropdown {
  .btn-secondary {
    background-color: transparent;
    border-color: $white;
    color: $white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;

    &:active {
      background-color: transparent;
      border-color: $white;
      color: $white;
    }
  }

}