@import '../../styles/vars';


.wrapper {
  height: 100vh;
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-color: $red;
}

.instructions {
  width: 350px;
  height: 110px;
  background-color: $dark-red;
  color: $white;
  margin: 25px auto 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 9px;
  display: flex;
  align-items: center;
}

.submissionContainer {
  display: flex;
  width: 80%;
  margin: 10px auto;
  color: white;
}

.submissionText {
  display: flex;
  margin-left: 20px;
}