// pastels
$white: #ffffff;
$red: #ffb3ba;
$orange: #ffdfba;
$yellow: #ffffba;
$green: #baffc9;
$blue: #bae1ff;
$purple: #F0D1FF;
$gray1: #D8D8D8;

$dark-blue: #73B1E1;
$dark-orange: #F9C589;
$dark-red: #EE828C;
$dark-purple: #DAB1EE;